<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pers.yefei.LayIM.dao.user">
    <resultMap id="user" type="com.pers.yefei.LayIM.pojo.User">
        <id column="userID" property="userID"></id>
        <result column="userName" property="userName"></result>

    </resultMap>


    <!-- 根据用户名统计用户数量  注册校验时使用 -->
    <select id="countUserByUserName" resultType="int" parameterType="string">
        select ifnull(count(1), 0) from tbl_user where userName = #{userName};
    </select>

    <!-- 添加用户 注册使用 -->
    <insert id="insertUser" parameterType="com.pers.yefei.LayIM.pojo.User">
      <selectKey resultType="int" keyProperty="userID" order="AFTER">
          select last_insert_id()
      </selectKey>
        insert into tbl_user (userName, nickName, signature, avatar, password, registerTime ) values
        (#{userName}, #{nickName}, #{signature}, #{avatar}, #{password}, #{registerTime} )

    </insert>

    <!-- 添加默认用户组 注册时使用 -->
    <insert id="inserDefaulttUserGroup" parameterType="int">
        insert into tbl_user_group (userID, groupName) select #{userID}, groupName from tbl_user_group_default
    </insert>


    <!-- 查询用户信息  登录时使用 -->
    <select id="queryUserByLoginInfo" resultType="com.pers.yefei.LayIM.pojo.User" parameterType="map">
        select * from tbl_user where (userID = #{userName} or userName = #{userName}) and password = #{password}
    </select>


    <!-- 查找用户  添加好友时使用 -->
    <select id="queryUserByKeywords" resultType="com.pers.yefei.LayIM.pojo.User" parameterType="map">
      select userID, nickName, signature, avatar from tbl_user where userID = #{keywords} or nickName like concat('%', #{keywords}, '%') limit #{offset}, #{pageSize}
    </select>

    <!-- 统计用户  添加好友时使用 -->
    <select id="countUserByKeywords" resultType="int" parameterType="map">
        select ifnull(count(1), 0) from tbl_user where userID = #{keywords} or nickName like concat('%', #{keywords}, '%')
    </select>

    <!-- 根据userID 查询 user -->
    <select id="getUserByUserID" parameterType="int" resultType="com.pers.yefei.LayIM.pojo.User">
        select * from tbl_user where userID = #{userID} limit 1;
    </select>




</mapper>




